.dropdown-item.active, .dropdown-item:active {
  background-color #e9ecef
}

.navbar {
  .site-name {
    color #163D63
  }
}

.project-card {
  margin-bottom 10px

  .card-body {
    .card-text {
      height 80px
      text-align center
    }

    .card-buttons {
      text-align center
    }
  }
}
